DBH_1.csv
HOMEWORK_01_JAIRO_LEAL.R
HOMEWORK_01_PARTE1_JAIRO_LEAL.pdf
HOMEWORK_01_PARTE2_JAIRO_LEAL.pdf
HOMEWORK_02_JAIRO_LEAL.R
HOMEWORK_02_JAIRO_LEAL.pdf
LABORATORIO_01_JAIRO_LEAL.R
LABORATORIO_01_JAIRO_LEAL.pdf
LABORATORIO_03_JAIRO LEAL.R
LABORATORIO_03_JAIRO-LEAL.pdf
